/*
    Dinamicka Development
    Documentation

    Сontents
    1.AboutMYH
    2.blackSect
    3.prefooter
*/
/*-----AboutMYH------*/
#AboutMYH{
    display:block;
    margin-top:102px;
}
.darktxt,.prefootertxt,.contareatxt{
    width:66%;
    margin:0 auto;
    font-family:'Raleway-Medium';
    font-size:1.143em;
    color:#263238;
    letter-spacing:0.05em;
    text-align:center;
    line-height:30px;
}
.aboutTxt{
    width:100%;
    margin:0 auto;
    font-family:'Raleway-Medium';
    font-size:1.143em;
    color:#263238;
    letter-spacing:0.05em;
    text-align:center;
    line-height:30px;
}
/*-----AboutMYH-end--*/
/*-----blackSect------*/
.darktxt{
    background-color:#263238;
    color:#ffffff;
    width:100%;
    padding:27px 10px;
}
/*-----blackSect-end--*/
/*-----prefooter------*/
.prefootertxt{
    width:100%;
    letter-spacing:0.035em;
    padding:32px 10px;
}
.contarea{
    height:154px;
    background-color:#fafafa;
    margin-bottom:48px;
}
.contareatxt{
    width:100%;
    margin-bottom:28px;
    padding-top:32px;
}
.contareabtn{
    width:146px;
    height:48px;
    background-color:#263238;
    margin:0 auto;
    padding-top:16px;
    cursor:pointer;
}
.contareabtn div{
    color:#ffffff;
    font-family:'ArcaMajoraHeavy';
    font-size:16px;
    letter-spacing:0.075em;
    text-align:center;
    text-decoration:none;
    line-height:16px;
    width:100%;
    display:block;
}
.contareabtn div:hover,.contareabtn div:active{
    color:#fafafa;
    text-decoration:none;
}
/*-----prefooter-end--*/
 /*--------------------footer start-----------------*/
 .botMargin, .footer__logoCover_CopyRight, .footer__Address_HKLine1, .footer__Address_ChinaLine1, .footer_contacts_chinaPhoneCover, .footer_contacts_hkPhoneCover{
font-family:'Microsoft YaHei UI'!important;
 }