/*
    Dinamicka Development
    Documentation

    Сontents
    1.Brand
    2.juryRes(PROFESSIONAL JURY RESULTS)
*/



h2 {
    margin-top: 0;
}

.no-pad div.row div {
    padding-left: 0;
    padding-right: 0;
}
/*-----Brand------*/
#brandSec {
    margin-top: 102px;
}

.maintxt {
    font-family: 'Raleway-Medium';
    font-size: 1.143em;
    color: #263238;
    letter-spacing: 0.05em;
    width: 100%;
    text-align: center;
    line-height: 30px;
}

.infoblock {
    height: 341px;
}

.verticalAligne {
    /*position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);*/
    padding: 0 35px;
}

.imgContainer img {
    width: 100%;
    height: auto;
}

.aligne-right {
    float: right;
}
/*-----Brand-end--*/

/*-----juryRes------*/
.black {
    background-color: #263238;
        height: 32px;
    line-height: 32px;
}
}

.blackmobile {
    background-color: #263238;
    width: 50%;
    margin: auto;
}

.jurName {
    font-size: 1.571em;
    margin-bottom: 12px;
    margin-top: 30px;
}

.jurplace {
    font-family: 'Raleway-Medium';
    font-size: 1.286em;
    color: #fffefe;
    letter-spacing: 0.05em;
    /*width: 100%;*/
    text-align: center;
}

.jurplace-m {
    font-family: 'Raleway-Medium';
    font-size: 1.286em;
    color: #fffefe;
    letter-spacing: 0.05em;
    /*width: 100%;*/
    text-align: center;
}

.jurimg img {
    width: 100%;
    max-width: 225px;
    margin: 15px auto 0;
    display: block;
}

.jurdescr-img {
    width: 90px;
    height: 23px;
    /*background-image: url('../images/zalto trace copy.png');*/
    display: block;
    margin: 25px auto 13px;
}

.jurdescr {
    color: #455a64;
    font-family: 'Raleway-Regular';
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-bottom: 33px;
}

/*.jurhei {
    height: 400px;
}*/

.placehold {
    width: 51%;
    height: 25px;
    margin: 0 auto;
}

.dropdown-menu {
    top: 103%;
}
/*-----juryRes-end--*/
.verticalAligne >h2{
    margin-bottom: 13px;
    font-size:30px;
}

@media (min-width: 320px) {
    .history {
        height: 385px;
        padding-top: 5%;
            width: 92%;
        margin: auto;
    }
    .denk{
        padding-top: 5%;
    }
    .angles {
        height: 420px;
        padding-top: 5%;
    }

    .unique {
        height: 365px;
        padding-top: 5%;
    }

    .modern {
        height: 390px;
        padding-top: 5%;
    }

    .etching {
        height: 300px;
        padding-top: 5%;
    }

    .recognition {
        height: 425px;
        padding-top: 5%;
    }

    .result {
        top: 31%;
    }

    .jurhei {
        padding-top: 12%;
    }

    .jurName-m {
        display: block;
    }

    .jurplace-m {
        display: block;
    }

    .Desktop-block {
        display: none;
    }

    .blackmobile {
        width: 43%;
    }
}

@media (min-width: 550px) {
    .history {
        height: 280px;
            
    }
    .denk{
        height: 250px;
    }
    .angles {
        height: 280px;
    }

    .unique {
        height: 250px;
    }

    .modern {
        height: 275px;
    }

    .etching {
        height: 220px;
    }

    .recognition {
        height: 250px;
    }

    .result {
        top: 50%;
    }

    .verticalAligne {
        padding: 0 135px;
    }
        .blackmobile {
        width: 33%;
    }
}

@media (min-width: 768px) {
    .history {
      
            width: 100%;
        
    }
    .denk {
    width: 100%;
}
    .angles {
        width:100%;
    }

    .unique {

    width:100%;
    }

    .modern {

    width:100%;
    }

    .etching {
    width:100%;
    }

    .recognition {
    width:100%;
    }
    .jurName-m {
        display: none;
    }

    .jurplace-m {
        display: none;
    }

    .Desktop-block {
        display: block;
    }
}
@media (min-width: 990px){
    .history {
    margin:auto;
    width:92%;
}
    .denk {
   
    width: 92%;
    margin: auto;
}
    .angles {
        height:0;
           margin:auto;
        width:92%;
    }

    .unique {
        height: 0;
           margin:auto;
    width:92%;
    }

    .modern {
        height: 0;
            margin:auto;
    width:92%;
    }

    .etching {
        height: 0;
           margin:auto;
    width:92%;
    }

    .recognition {
        height: 0;
           margin:auto;
    width:92%;
    }

    .maintxt{
        line-height: 27px;
    }
}
@media (min-width: 1200px) {
        .maintxt{
        line-height: 30px;
    }
        .history{
            padding-top:5%;
        }
}
