/*
    Dinamicka Development
    Documentation

    Сontents
    1.Brand
    2.juryRes(PROFESSIONAL JURY RESULTS)
*/



h2 {
    margin-top: 0;
}

.no-pad div.row div {
    padding-left: 0;
    padding-right: 0;
}
/*-----Brand------*/
#brandSec {
    margin-top: 102px;
}

.maintxt {
    font-family: 'Raleway-Medium';
    font-size: 1.143em;
    color: #263238;
    letter-spacing: 0.05em;
    width: 100%;
    text-align: center;
    line-height: 30px;
}

.infoblock {
    height: 341px;
}

.verticalAligne {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 15px;
}

.imgContainer img {
    width: 100%;
    height:auto;
}

.aligne-right {
    float: right;
}
/*-----Brand-end--*/

/*-----juryRes------*/
.black {
    background-color: #263238;
}

.jurName {
    font-size: 1.571em;
    margin-bottom: 12px;
    margin-top: 30px;
}

.jurplace {
    font-family: 'Raleway-Medium';
    font-size: 1.286em;
    color: #fffefe;
    letter-spacing: 0.05em;
    width: 100%;
    text-align: center;
}

.jurimg img {
    width: 100%;
    max-width: 225px;
    margin: 15px auto 0;
    display: block;
}

.jurdescr-img {
    width: 65px;
    height: 23px;
    background-image: url('/images/zalto trace copy.png');
    display: block;
    margin: 25px auto 13px;
}

.jurdescr {
    color: #455a64;
    font-family: 'Raleway-Regular';
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-bottom: 33px;
}

.jurhei {
    height: 400px;
}

.placehold {
    width: 51%;
    height: 25px;
    margin: 0 auto;
}

.dropdown-menu {
    top: 103%;
}
/*-----juryRes-end--*/

@media (min-width: 320px) {
    .history {
        height: 385px;
    }

    .angles {
        height: 420px;
    }

    .unique {
        height: 365px;
    }
    .modern{
        height: 390px;
    }
    .etching{
        height: 300px;
    }
    .recognition{
         height: 425px;
    }
}

@media (min-width: 550px) {
    .history {
        height: 341px;
    }

    .angles {
        height: 341px;
    }

    .unique {
        height: 341px;
    }
      .modern{
        height: 341px;
    }
          .etching{
        height: 341px;
    }
              .recognition{
         height: 341px;
    }
}
