div.verticalAligne > h2, div.steam > h2, h3.glass-title, .wat-coc > h2, div.decanters > h2{
        font-family:'Microsoft YaHei UI';
    font-weight:600;
}
div.grav-txt, div.grav-subline, .param, div.generalDesc, div.secenderyDesc, .desctitle, .footer_contacts_hkPhoneCover, .footer_contacts_chinaPhoneCover{
            font-family:'Microsoft YaHei UI';

}
ul.china > li{
    font-family:'Microsoft YaHei UI';
    font-weight:800;
}
@media (min-width: 1201px){
ul.navbar-nav {
    margin-left: 11%;
}
}
@media (min-width: 993px){
ul.navbar-nav {
    margin-left: 11%;
}}